body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-color: white;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 0;
}

.info-box {
    max-width: 600px;
    width: 80%;
}

.container {
    display: flex;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 41px;
    color: var(--text-grey);
}

h3 {
    font-weight: 300;
    color: var(--text-grey)
}
.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 350;
    color: var(--text-grey);
}
.btn-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    border-bottom: none;
    margin-bottom: 10px;
}

.acc_toggle_btn {
    width: 40%;
    max-width: 150px;
    height: 45px;
    cursor: pointer;
    background-color: white;
    border-radius: 17px;
    border: none;
    font-size: 1.1rem;
    padding: 4px;
    border: 1px solid #f0eded ;
    margin-top: 2px;
    width: 45%;
}

.acc_toggle_btn:hover {
    background-color: #f6f6f6;
}

#acc-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 0 16px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100px;

}
.hidden {
    display: none;
}


.email-info {
    padding-top: 30px;
    width: 100%;
    font-size: 1.1rem;
    height: 100%;
    align-items: center;
}

.password-info {
    padding-top: 30px;
    width: 100%;
    font-size: 1.1rem;
    height: 100%;
    align-items: center;
}
.email-edit { 
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;

}

.password-edit {
    height: 100%;
    width: 200px;
    display: block;
    justify-content: center;
    align-content: center;
    margin-top: 18px;
    margin-bottom: 15px;
}



#acc-container button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: var(--text-grey);
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: 550;
    height: fit-content;
    cursor: pointer;
    transition: .5s;
}

#acc-container button:hover {
    background-color: #f7f6f6;
    border-color: white;
}

.email-edit button {
    margin-top: 30px;
}

.password-edit button {
    margin-bottom: 10px;
}


/* MODALS */

.modal-confirm-password {
    position: fixed;
    display: grid;
    place-items: center;
    justify-self: center;
    grid-template-columns: 500px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: all 200ms ease-in-out;
    box-sizing: border-box;
}

.modal-confirm-password.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-sub-1 {
    grid-column: 1/1;
    width: 90%;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 15px;
    height: 250px;
    padding: 15px;
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]  {
    width: 420px;
    height: 27px;
    font-size: large;
    margin-bottom: 30px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

label {
    font-size: 17px;
    margin-right: 310px;
    margin-bottom: 6px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.confirm-password-btns {
    display: flex;
    justify-content: space-evenly;
    width: 350px;
}

.cancel-password-button {
    background-color: white;
    border: 1px solid #ccc;
    transition: .5s;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    height: fit-content;
}
.cancel-password-button:hover {
    background-color: #f0eeee;
}

.confirm-password-button {
    background-color: var(--dark);
    color: white;
    border: none;
    transition: .5s;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    height: fit-content;
}

.confirm-password-button:hover {
    opacity: 0.9;
}


.close-pcm {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 35px;
    height: 35px;
    background-color: rgb(158, 155, 155);
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-bottom: 240px;
    margin-right: 15px;
    cursor: pointer;
}

.close-pcm i {
    font-size: medium;
}

.close-pcm:hover {
    opacity: 0.8;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
    z-index: 2;
    display: none;
}

.overlay.active{
    pointer-events: all;
    display: block;
}

.flash {
    color: rgb(177, 24, 24);
    background-color: rgb(234, 198, 198);
    width: 80%;
    height: fit-content;
    font-size: 12px;
    font-weight: 400;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid rgb(229, 0, 0);
    margin: 5px;
    text-align: center;
}

.flash {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
        opacity: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
        opacity: 0;
    }
}


/* ORDER CONTAINER STUFF */

#order-container{
    width: 100%;
    height: fit-content;
    border: solid 1x #1f1e1e;
    display: none;
}

.scroll-box {
    width: 100%;
    margin-top: 20px;
}

#order-container .order {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;

}

#order-container .order p {
    width: 150px;
    text-align: center;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(4, minmax(120px, 1fr));
    place-items: center;
    justify-content: space-between;
    gap: 10px;
    height: fit-content;
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: 1rem;
}