@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
}

:root {
    --dark: #131316;
    --grey: #343439;
    --text-grey:#454549;
    --lightgrey: #f7f5f5;
    --purpple:#a21bd1;
  }

  /* HEADER */
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
    background-color: white;
    
}
.navbar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.1rem;
    padding: 7px 12px;
    transition: .3s;
    border-radius: 18px;
}


.navbar .links {
    display: flex;
    gap: 2rem;
    /* font-size: 1.8rem; */
}
.navbar ul li a:hover {
    color: var(--purpple);
    /* text-decoration: underline 2px; */
}

.header-main-logo img {
    width: 170px;
    align-self: center;
    margin-top: 8px;
    margin-left: 30px;
}

.fa-solid {
    color: var(--dark);
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .toggle_btn{
    display: block;
}
.nav-links {
    align-items: center;
    width: fit-content;
    display: flex;
}
.navbar a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-size: 22px;
}

.navbar ul li .action_btn {
    margin-right: 70px;
    background-color: var(--purpple);
    color: white;
    border-radius: 24px;
    /* padding: 3px 7px; */

}

.navbar ul li .action_btn:hover {
    opacity: 0.9;
    color: white;
}
.toggle_btn {
    margin-top: 5px;
}


.dropdown_menu {
    display: block;
    position: absolute;
    top: 80px;
    right: 25px;
    width: 200px;
    height: 0px;
    background: rgba(21, 20, 34, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 5px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: fit-content;
}

.dropdown_menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.dropdown_menu li a {
    text-decoration: none;
    color: var(--dark);
    /* transition: .5s; */
}
.dropdown_menu li .cur-page-dropdown {
    color: var(--purpple);
}

.dropdown_menu li a:hover{
    color: var(--purpple);
}

.header-main-logout {
    background-color: var(--dark);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* SCALABLE DESIGN*/

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    /* .text-box, .scroll-box, .container {
        width: 90%;
    }

    .container {
        height: auto;
    } */
    #signin-prompt {
        margin-bottom: 30px;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* END HEADER */

/*FOOTER*/

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: var(--grey);
    border-top: 1px solid #ccc;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: auto;
    align-items: center;
}

.footer-links a{
    list-style: none;
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.1rem;
}
.footer-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img{
    width: 140px;
    align-self: center;
    margin-top: 8px;
    margin-left: 30px;
}
/*FOOTER*/




