body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 55px;
    font-weight: 200;
    margin-top: 70px;
}
section {
    display: grid;
    place-items: center;
    min-height: 70vh;
    color: var(--text-grey);
    width: 100%;

}

/* CONTACT AREA */
.contact-actions {
    height: fit-content;
    display: grid;
    width: 60%;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1px;
    margin-bottom: 50px;
}

.contact-actions h2 {
    font-size: 30px;
    font-weight: 300;
}

.contact-actions div {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-phone p{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-phone {
    margin-bottom: 72px;
}

.contact-phone span:hover {
    color: var(--purpple);
    cursor: pointer;
}

textarea {
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 100px;
    margin-top: 20px;
    resize: none;
    font-family: "Poppins", sans-serif;
}
input[type="submit"] {
    color: white;
    background-color: var(--purpple);
    border-radius: 25px;
    width: 105px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    opacity: 0.8;
}





/* END CONTACT AREA */

