body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}


/* CONTACT AREA */

.contact-actions {
    
}
.contact-message {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.contact-message p {
    font-size: 1.3rem;
}

.contact-message span {
    font-size: 1.5rem;
}

form {
    /* border: solid 1px #ccc; */
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.contact-actions div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-phone p{
    font-size: 1.5rem;
}


.contact-phone span:hover {
    color: var(--purpple);
    cursor: pointer;
}

/*MESSAGE*/
form label {
    margin-bottom: 7px;
}
input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 370px;
    font-family: "Inter", sans-serif;
    padding: 10px 15px;
}

textarea {
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 100px;
    resize: none;
    font-family: "Inter", sans-serif;

}

input[type="submit"] {
    color: white;
    background-color: var(--purpple);
    border-radius: 24px;
    width: 105px;
    padding: 10px;
    font-size: 1.1rem;
    align-self: center;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    opacity: 0.8;
}
#sent {
    text-align: center;
}





/* END CONTACT AREA */

