@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
}
:root {
    --dark: #131316;
    --grey: #343439;
    --lightgrey: #f7f5f5;
    --purpple:#a21bd1;
  }
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(50deg,#b9b9b9 0% 30%, white 70% 100%); */
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* HEADER */
header{
    width: 100%;
    height: 70px;
    /* background-color: var(--dark);; */
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.1);
    
}
.navbar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--dark);
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 22px;
    /* transition: .5s; */
    border-radius: 10px;
}
.navbar ul li .contact {
    background-color: var(--lightgrey);
}
.auth_nav {
    display: flex;
    justify-content: space-between;
}
.auth_nav .action_btn {
    margin-right: 50px;
    background-color: var(--purpple);
    color: white;
    border-radius: 25px;
    padding: 8px 10px;
    font-size: 18px;

}

.auth_nav .action_btn:hover {
    opacity: 0.8;
}
.toggle_btn {
    margin-top: 5px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar ul li a:hover {
    background-color: var(--lightgrey);
}

.header-main-logo img {
    width: 170px;
    margin-top: 8px;
    align-self: center;
    margin-left: 30px;
}

.fa-solid {
    color: var(--dark);
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .toggle_btn{
    display: block;
}

.navbar a {
    text-decoration: none;
    color: var(--dark);
    font-size: 22px;
}

.dropdown_menu {
    display: block;
    position: absolute;
    top: 80px;
    right: 25px;
    width: 200px;
    height: 0px;
    background: rgba(21, 20, 34, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 5px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: fit-content;
}

.dropdown_menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.dropdown_menu li a {
    text-decoration: none;
    color: var(--dark);
    /* transition: .5s; */
}

.dropdown_menu li .contact {
    color: var(--purpple);
}
.dropdown_menu li a:hover{
    color: var(--purpple);
}

.header-main-logout {
    background-color: var(--dark);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SCALABLE DESIGN*/

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* END HEADER */

h1 {
    font-size: 30px;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
    color: var(--dark);

    animation: fade 3s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#signin-prompt {
    font-size: 20px;
    color: var(--dark);
    text-decoration: none;
}

