body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.submission-result {
    text-align: center;
    margin-top: 60px;
}
.alert {
    width: 500px;
    height: fit-content;
    text-align: center;
    display: none;
    border-radius: 6px;
    color: red;
    font-size: 15px;
    border: 1px solid red;
    background-color: rgb(242, 210, 210);
    margin-bottom: 10px
}
.show {
    display: block;
}
/* FORM */
form {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 500px;
    margin-top: 10px;
    height: fit-content;
    min-height: 400px;
    margin-bottom: 15px;
}

form div {
    display: block;
    margin-top: 15px;
    margin-left: 35px;
}

form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form textarea {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    font-family: "Poppins", sans-serif;
}

input[type="submit"]{
    margin-left: 187px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 8px;
    width: 120px;
    background-color: var(--purpple);
    color: white;
    border: none;
    font-size: 1.1rem;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
    transition: 0.5s;
}

input[type="submit"]:hover {
    opacity: 0.8;
}
/* FORM */