@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
}
body {
    height:100vh;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-evenly;
    font-family: "Poppins", sans-serif;
    background-color: #131316;
    padding: 5px;
}
.bkg {
    width: 100%;
    height: 70px;
    background-color: #131316;
}
section {
    height: 96vh;
    width: 360px;
    border: 1px solid #ccc;
    padding-top: 0;
    z-index: 10;
    border-radius: 15px;
    background: linear-gradient(50deg,#eaeaea 0% 30%, white 70% 100%);
    display: flex;
    flex-direction: column;
    background-color: #131316;

}

.logo {
    max-width: 40%;
    max-height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.head {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content:start;
    align-items: center;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
}

.head2{
    align-items: center;
    padding: 20px;
    width: 70%px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
h2 {
    font-size: 40px;
    font-weight: 300;
}
.img1{
    font-size: 35px;
}

.i1 {
    color: white;
    font-size: 30px;
    margin-right: 100px;
}
.name {
    text-align: center;
    color: #161516;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 650;

}

/*END HEADER*/

.container {
    height: 400px;
    padding: 10px;
    width: 300px;
    align-self: center;
    border-radius: 15px;
    /* border: 1px solid #ccc; */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    font-size: 70px;
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.5s;
    max-height: 2000px;

}

.block:hover {
    box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.3);
}

.ig {
    height: 200px;
    margin-top: 15px;
}

.container .icon1 {
    color: rgb(0, 0, 0);
}
.container .icon2 {
    color: rgb(100, 0, 128);
}
.container .icon3 {
    color: rgb(0, 0, 0);
}
.container .icon4 {
    color: rgb(203, 9, 9);
}




