.dashapp-div {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-container {
    width: 100%;
}
.select-all-button {
    width: 100%;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 100;
}