<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <div class="modal-confirm-password">
        <form class="modal-sub-1" method="POST">
        <h2>Confirm your existing password</h2>

        <label for="confirm-password">Password</label>
        <input type="text" id="confirm-password" name="confirm-password" minlength="7">

        <div class="confirm-password-btns">
            <button class="cancel-password-button">Cancel</button>
            <input type="submit" class="confirm-password-button" value="Confirm Password">

        </form>

        <div class="close-pcm">
            <i class="fa-solid fa-x"></i>
        </div>


    </div>
</body>
</html>