<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <link  rel="stylesheet" href="../static/css/business-y.css">
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bkg"></div>
    <section>
        <div class="head">
            <img class="logo" src="../static/assets/LinkUp-logo1.png" alt="linkup-logo">
        </div>
        <div class="head2">
            <label class="name"> Ozzy Burgers </label>
        </div>
        <div class="container">
            <div class="block">
                <a href="https://www.yelp.ca/writeareview/biz/vdR_vmmgfI56bwSZYYHtXg?return_url=%2Fbiz%2FvdR_vmmgfI56bwSZYYHtXg&review_origin=biz-details-war-button" target="_blank"><span class="icon1"><i class="fa-brands fa-google"></i></span></a>
            </div>
            <div class="block">
                <a href="https://www.instagram.com/ozzysburgers/" target="_blank"><span class="icon2"><i class="fa-brands fa-instagram"></i></span></a>
            </div>
            <div class="block">
                <a  href="https://x.com/ozzysburgers?lang=en" target="_blank"><span class="icon3"><i class="fa-brands fa-x-twitter"></i></span></a>
            </div>
            <div class="block">
                <a href="https://www.youtube.com/watch?v=6d1NiDLiuqE" target="_blank"><span class="icon4"><i class="fa-brands fa-youtube"></i></span></a>
            </div>
        </div>
    </section>
    <div class="bkg"></div>
    
</body>
</html>