<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <link  rel="stylesheet" href="../static/css/contact.css">
    <script defer scr="../static/javascript/contact.js"></script>
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="header-main-logo">
                <img src="../static/assets/LinkUp-logo1.png" alt="linkup-logo">
            </div>
            <ul class="links">
                <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
            </ul>
            <a href="{{url_for('auth.logout')}}" class="action_btn">LOG OUT</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
            <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
            <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
            <li><a href="{{url_for('auth.logout')}}" class="action_btn">LOG OUT</a></li>
        </div>
    </header>

    <section class="hidden">
        <h1> Contact Us</h1>
        <p> Phone Number: 123-456-7890</p>
        <p> Email: linkup@gmail.com</p>
    </section>

    <section class="hidden" id="sec2">
        <h1>Make an Order</h1>
        <form action="#" method="#">


            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="quantity">Quantity:</label>
            <input type="number" min="0" required id="quantity" name="quantity" placeholder="0">

            <label for="type">I want to connect to:</label>
            <select id="type" name="connect-type">
                <option value="one-page">One page</option>
                <option value="link-tree">Link tree</option>
            </select>

            <label for="comments">Additional Information </label>
            <textarea id="comments" rows="3" cols="25" name="comments">

            </textarea>

            <input type="submit">
        </form>
    </section>
    
</body>
</html>