<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <link  rel="stylesheet" href="../static/css/contact.css">
    <script defer src="../static/javascript/contact.js"></script>
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="header-main-logo">
                <img src="../static/assets/LinkUp-logo1.png" alt="linkup-logo">
            </div>
            <ul class="links">
                <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
            </ul>
            {% if prompt2 == "LOG OUT" %}
                <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
            {% else %}
                <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
            {% endif %}
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
            <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
            <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
            <li>
                {% if prompt2 == "LOG OUT" %}
                    <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                {% else %}
                    <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                {% endif %}
            </li>
        </div>
    </header>

    <section class="hidden">
        <h1> Contact Us</h1>
        <p> Phone Number: 123-456-7890</p>
        <p> Email: linkup@gmail.com</p>
    </section> 
    <p id="signin prompt"> {{ prompt }} </p>
</body>
</html>