<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <link  rel="stylesheet" href="../static/css/contact.css">
    <script defer src="../static/javascript/contact.js"></script>
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="header-main-logo">
                <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-Logo-Trans2.png" alt="linkup-logo"></a>
            </div>
            <ul class="links">
                <li><a href="{{url_for('views.home_page')}}">Home</a></li>
                <li><a class="contact" href="{{url_for('views.contact_page')}}">Contact</a></li>
                <li><a href="{{url_for('order.order_page')}}">Order</a></li>
            </ul>
            <div class="auth_nav">
                {% if prompt2 == "Sign out" %}
                        <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                {% else %}
                        <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                {% endif %}
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="{{url_for('views.home_page')}}">Home</a></li>
            <li><a class="contact" href="{{url_for('views.contact_page')}}">Contact</a></li>
            <li><a href="{{url_for('order.order_page')}}">Order</a></li>
            {% if prompt2 == "Sign out" %}
                <li><a href="{{url_for('account.account_page')}}">My Account</a></li>
            {% endif %}
            <li>
                {% if prompt2 == "Sign out" %}
                    <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                {% else %}
                    <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                {% endif %}
            </li>
        </div>
    </header>

    <section class="hidden">
        <h1> Get In Touch</h1>
        <div class="contact-actions">
            <div class="contact-phone">
                <h2> Phone</h2>
                <p> Call <span>123-456-7890</span></p>
            </div>
            <div class="contact-message">
                <h2>Send a Message</h2>
                <form action="" method="POST">
                    <textarea name="message">

                    </textarea>
                    <br>
                    <input type="submit">
                </form>
            </div>
        </div>
        
    </section> 

    <footer>
        <div class="footer-logo">
            <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-logo-Trans_W.png" alt="linkup-logo"></a>
        </div>
        <div class="footer-links">
            <a href="{{url_for('views.home_page')}}">Home</a>
            <a href="{{url_for('views.contact_page')}}">Contact</a>
            <a href="{{url_for('order.order_page')}}">Order</a>
            <a href="">Analytics</a>
        </div>
        
    </footer>
</body>
</html>