<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="../static/css/home.css">
        <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
        <title>LinkUp</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="header-main-logo">
                    <img src="../static/assets/LinkUp-logo1.png" alt="linkup-logo">
                </div>
                <ul class="links">
                    <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                    <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                </ul>
                <a href="{{url_for('auth.login_page')}}" class="action_btn">LOG OUT</a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu">
                <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                <li><a href="#" class="action_btn">LOG OUT</a></li>
            </div>
        </header>
        <h1>
            Our Connections
        </h1>
        <div class="container">
            <ul>
                <div class="drop-down">
                    <button> 
                        Company A

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>

                <div class="drop-down">
                    <button> 
                        Company B

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
                <div class="drop-down">
                    <button> 
                        Company C

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
                <div class="drop-down">
                    <button> 
                        Company D

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
                <div class="drop-down">
                    <button> 
                        Company E

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
                <div class="drop-down">
                    <button> 
                        Company F

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
                <div class="drop-down">
                    <button> 
                        Company G

                    </button>
                    <div class="stat">
                        <p>Cards:</p>
                        <p>Reviews+:</p>
                    </div>
                </div>
            </ul>
        </div>
        <script defer src="../static/javascript/home.js"></script>
    </body>
</html>