<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="../static/css/home.css">
        <script defer src="../static/javascript/home.js"></script>
        <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
        <title>LinkUp</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="header-main-logo">
                    <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-Logo-Trans2.png" alt="linkup-logo"></a>
                </div>
                <ul class="links">
                    <li><a href="{{url_for('views.home_page')}}">Home</a></li>
                    <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
                    <li><a href="{{url_for('order.order_page')}}">Order</a></li>
                </ul>
                <div class="auth_nav">
                    {% if prompt2 == "Sign out" %}
                        <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                    {% else %}
                        <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                    {% endif %}
                    <div class="toggle_btn">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
                
            </div>

            <div class="dropdown_menu">
                <li><a href="{{url_for('views.home_page')}}">Home</a></li>
                <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
                <li><a href="{{url_for('order.order_page')}}">Order</a></li>
                {% if prompt2 == "Sign out" %}
                    <li><a href="{{url_for('account.account_page')}}">My Account</a></li>
                {% endif %}
                <li>
                    {% if prompt2 == "Sign out" %}
                        <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                    {% else %}
                        <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                    {% endif %}
                </li>
            </div>
        </header>
        <div class="content-box">
            <div class="text-box">
                <h1>Elevate your business with a flood of glowing customer reviews!</h1>
                <h3>With NFC technology, our cards  seamlessly bridge the gap between satisfied customers and your review site</h3>
                {% if prompt == "Sign in" %}
                    <a href="{{url_for('auth.logout')}}" class="order_btn">Order Now</a>
                {% else %}
                    <a href="{{url_for('order.order_page')}}" class="order_btn">Order Now</a>
                {% endif %}
            </div>
            <div class="scroll-box">
                <h1>
                    Our Connections
                </h1>
                <h2 class="order">
                    Order By
                </h2>
                <div class="order-container">
                    <button class="order-btn" id="card_btn">Cards In Use</button>
                    <button class="order-btn" id="date_btn">Date Joined</button>
                </div>
                <div class="container">
                    <ul class="orgs">
                    </ul>
                </div>
            </div>
        </div>
        <a href="{{url_for('auth.logout')}}" id="signin-prompt"> {{ prompt }} </a>
    </body>
</html>