<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  rel="stylesheet" href="../static/css/home.css">
        <script defer src="../static/javascript/home.js"></script>
        <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
        <title>LinkUp</title>
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="header-main-logo">
                    <img src="../static/assets/LinkUp-logo1.png" alt="linkup-logo">
                </div>
                <ul class="links">
                    <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                    <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                    <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
                </ul>
                {% if prompt2 == "LOG OUT" %}
                    <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                {% else %}
                    <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                {% endif %}
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu">
                <li><a href="{{url_for('views.home_page')}}">HOME</a></li>
                <li><a href="{{url_for('views.contact_page')}}">CONTACT</a></li>
                <li><a href="{{url_for('order.order_page')}}">ORDER</a></li>
                <li>
                    {% if prompt2 == "LOG OUT" %}
                        <a href="#" onclick="signout()" class="action_btn"> {{ prompt2 }} </a>
                    {% else %}
                        <a href="{{url_for('auth.logout')}}" class="action_btn"> {{ prompt2 }} </a>
                    {% endif %}
                </li>
            </div>
        </header>
        <h1>
            Our Connections
        </h1>
        <h2 class="order">
            Order By
        </h2>
        <div class="order-container">
            <button class="order-btn" id="card_btn">Cards In Use</button>
            <button class="order-btn" id="date_btn">Date</button>
        </div>
        <div class="container">
            <ul class="orgs">
            </ul>
        </div>
        <p id="signin prompt"> {{ prompt }} </p>
    </body>
</html>