<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../static/css/order.css">
    <script defer src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
    <script src="../static/javascript/order.js"></script>
    <title>LinkUp</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="header-main-logo">
                <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-Logo-Trans2.png" alt="linkup-logo"></a>
            </div>
            <ul class="links">
                <li><a href="{{url_for('views.home_page')}}">Home</a></li>
                <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
                <li><a class="order-link" href="{{url_for('order.order_page')}}">Order</a></li>
            </ul>

            <div class="auth_nav">
                <a href="{{url_for('order.signout')}}" class="action_btn">Sign out</a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="{{url_for('views.home_page')}}">Home</a></li>
            <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
            <li><a class="order-link" href="{{url_for('order.order_page')}}">Order</a></li>
            <li><a href="{{url_for('account.account_page')}}">My Account</a></li>
            <li><a href="{{url_for('order.signout')}}" class="action_btn">Sign out</a></li>
        </div>
    </header>


    <footer>
            <div class="footer-logo">
                <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-logo-Trans_W.png" alt="linkup-logo"></a>
            </div>
            <div class="footer-links">
                <a href="{{url_for('views.home_page')}}">Home</a>
                <a href="{{url_for('views.contact_page')}}">Contact</a>
                <a href="{{url_for('order.order_page')}}">Order</a>
                <a href="">Analytics</a>
            </div>
            
        </footer>
</body>
</html>