<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../static/css/order.css">
    <script defer src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
    <script src="../static/javascript/order.js"></script>
    <title>LinkUp</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="header-main-logo">
                <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-Logo-Trans2.png" alt="linkup-logo"></a>
            </div>
            <ul class="links">
                <li><a href="{{url_for('views.home_page')}}">Home</a></li>
                <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
                <li><a class="order-link" href="{{url_for('order.order_page')}}">Order</a></li>
            </ul>

            <div class="auth_nav">
                <a href="{{url_for('order.signout')}}" class="action_btn">Sign out</a>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="{{url_for('views.home_page')}}">Home</a></li>
            <li><a href="{{url_for('views.contact_page')}}">Contact</a></li>
            <li><a class="order-link" href="{{url_for('order.order_page')}}">Order</a></li>
            <li><a href="{{url_for('account.account_page')}}">My Account</a></li>
            <li><a href="{{url_for('order.signout')}}" class="action_btn">Sign out</a></li>
        </div>
    </header>
    
    <form action="" method="POST">
        <div>
            <label for="link-cards-qty">Quantity of Link Tree Cards</label><br>
            <input type="number" min="0" name="link-cards-qty" id="link-cards-qty">
        </div>
        <div>
            <label for="direct-cards-qty">Quantity of Direct Cards</label><br>
            <input type="number" min="0" name="direct-cards-qty" id="direct-cards-qty">
        </div>
        <div>
            <label for="link-amount">How many links do you want (If link tree)</label><br>
            <input type="number" name="link-amount" min="0" id="link-amount" onchange="linkTree(event)">
        </div>
        <!-- Use javascript to generate n text inputs for urls, when link-amount is > 0 -->
         <div id="linktree-url">
         </div>
        
        <div>
            <label for="direct-cards-info">Direct Card URL</label><br>
            <textarea name="direct-cards-info" id="direct-cards-info" placeholder="Enter Direct URL"></textarea>
        </div>
        <input type="submit">
    </form>

    <footer>
            <div class="footer-logo">
                <a href="{{url_for('views.home_page')}}"><img src="../static/assets/LinkUp-logo-Trans_W.png" alt="linkup-logo"></a>
            </div>
            <div class="footer-links">
                <a href="{{url_for('views.home_page')}}">Home</a>
                <a href="{{url_for('views.contact_page')}}">Contact</a>
                <a href="{{url_for('order.order_page')}}">Order</a>
                <a href="">Analytics</a>
            </div>
            
        </footer>
</body>
</html>