<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="../static/css/PureVibes.css">
    <script src="https://kit.fontawesome.com/d218daeade.js" crossorigin="anonymous"></script>
    <title>LinkUp</title>
</head>
<body>
    <section>
        <div class="head">
            <img class="logo" src="../static/assets/LinkUp-logo-Trans2.png" alt="linkup-logo">
        </div>
        <div class="head2">
            <h2> Pure Vibes </h2>
        </div>
        <div class="container">
            <div class="block">
                <a href="#" target="_blank"><span class="icon1"><i class="fa-brands fa-google"></i></span></a>
            </div>
            <div class="block" id="block2">
                <a href="#" target="_blank"><span class="icon2"><img class="ig" src="../static/assets/IG_logo1.png"></span></a>
            </div>
            <div class="block">
                <a  href="#" target="_blank"><span class="icon3"><i class="fa-brands fa-x-twitter"></i></span></a>
            </div>
            <div class="block">
                <a href="#" target="_blank"><span class="icon4"><i class="fa-brands fa-youtube"></i></span></a>
            </div>
        </div>
    </section>
    
    <script scr="../static/javascript/business-x.js"></script>
</body>
</html>