<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkUp</title>
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>

    <section>
        <h2>{{ title }}</h2>
        <form method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  placeholder="Email">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password"  placeholder="Password">

            <label for="confirm password">Confirm Password:</label>
            <input type="password" id="confirm password" name="confirm password" placeholder="Confirm Password">
            <br>
            <input type="submit" value="Register">
        </form>
        <a href="{{url_for('auth.login_page')}}">{{ prompt }}</a>
        <a href="{{url_for('auth.recovery_page')}}">Forgot your password?</a>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="alert-danger">
                {{ message }}
            </div>
        {% else %}
            <div class="alert-success">
                {{ message }}
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="logo">
        <img src="../static/assets/LinkUp-Logo-Trans2.png" alt="linkup-logo">
    </div>
    </section>
</body>
</html>